<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NTL</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="css/home.css"
    />
</head>
<body>
    <div id="header">
        <ul id="header1">
            <li id="home">
                <a href="http://localhost:3000/NTL.vn">NTL.vn<ion-icon name="home-outline" id="home-outline"></ion-icon></a>
                <p>Hotline 0362474285</p>
            </li>
            <li id="search-line">
                <form action="" method="">
                    <input type="text" name="search" id="search" placeholder="Search into NTL">
                    <input type="submit" value="Search" id="searchId">
                </form>  
            </li>
        </ul>
        <div id="header2">
            <ul>
                <li>
                    <a href="http://localhost:3000/NTL.vn"><ion-icon name="home" id="home"></ion-icon></a>
                </li>
                <li>
                    <a href="http://localhost:3000/NTL.vn"><ion-icon name="tv"></ion-icon></a>
                </li>
                <li>
                    <a href="http://localhost:3000/NTL.vn"><ion-icon name="storefront-outline"></ion-icon></a>
                </li>
                <li>
                    <a href=""><ion-icon name="notifications"></ion-icon></a>
                </li>
                <li>
                    <a href="http://localhost:3000/NTL/store"><ion-icon name="cart-outline" id="cart-outline"></ion-icon></ion-icon></a>
                </li>
                
            </ul>
        </div>
        <div id="header3">
                <div id="header3-login">
                              <img id="img"
                              src="data:image/<%=items.img.contentType%>;base64,
                                      <%=items.img.data.toString('base64')%>"
                            />
                            <a href="http://localhost:3000/NTL/logout"><ion-icon name="enter"></ion-icon></a>
                        
                </div>
        </div>
    <div id="sidebar">
        <ul>
            <li>
                <div>
                    <a href="http://localhost:3000/NTL.vn"><img id="sidebar-img"
                        src="data:image/<%=items.img.contentType%>;base64,
                                <%=items.img.data.toString('base64')%>"/><% if(account){%><%=account.username%><%}%></a>
                </div>
                <div>

                </div>
                
                        
            </li>
            <li>
                <a href="">Book</a>
                <!-- <ul>
                    <li><a href="">Book1</a></li>
                    <li><a href="">Book2</a></li>
                    <li><a href="">Book3</a></li>
                </ul> -->
            </li>
            <li>
                <a href="">Ban Be</a>
                <!-- <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul> -->
            </li>
        </ul>
    </div>
    <div id="main">
        <div id="main-input">
            <form action="/NTL.vn" method="post" enctype="multipart/form-data"> 
                <input type="text" name="name" id="name" placeholder="name">
                <input type="text" name="title" id="title" placeholder="title">
                <input type="file" name="image" id="image">
                <input type="submit" value="Post">
            </form>
        </div>
        <div id="main-layout">
            <%if(!items1){%>
                <a href=""></a>
            <%}%>
            <%if(items1){%>
            
            <% items1.forEach(function(image) { %>
                      <img id="img"
                      src="data:image/<%=image.img.contentType%>;base64,
                              <%=image.img.data.toString('base64')%>"
                    />
                    
                <% })}%>
        </div>
    </div>

    <script  type = "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"> </script> 
    <script  nomodule  src = "https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>
</body>
</html>